script.
  $(document).ready(function() {
    $('#addnodes-table').dataTable({
      autoWidth: true,
      searching: false,
      ordering: false,
      responsive: true,
      lengthChange: true,
      processing: true,
      language: {
        paginate: {
          previous: '<',
          next: '>'
        }
      },
      ajax: {
        url: '/ext/connections',
        dataSrc: function (json) {
          var rows = [];
          for (var i=0; i<json.data.length; i++) {
            rows.push({'nodes':'addnode='+json.data[i]['address']+':'+json.data[i]['port']});
          }
          return rows;
        }
      },
      fnDrawCallback: function(settings) {
        fixFooterHeightAndPosition();
      },
      columns: [
        {data: 'nodes', width: '100%'}
      ],
      columnDefs: [
        {targets: '_all', className: 'text-left'}
      ]
    });
    $('#addnodes2-table').dataTable({
      autoWidth: true,
      searching: false,
      ordering: false,
      responsive: true,
      lengthChange: true,
      processing: true,
      language: {
        paginate: {
          previous: '<',
          next: '>'
        }
      },
      ajax: {
        url: '/ext/connections',
        dataSrc: function (json) {
          var rows = [];
          for (var i=0; i<json.data.length; i++) {
            rows.push({'nodes':'addnode '+json.data[i]['address']+':'+json.data[i]['port']+' onetry'});
          }
          return rows;
        }
      },
      fnDrawCallback: function(settings) {
        fixFooterHeightAndPosition();
      },
      columns: [
        {data: 'nodes', width: '100%'}
      ],
      columnDefs: [
        {targets: '_all', className: 'text-left'}
      ]
    });
  });
- var theadClasses = [];
if settings.display.table_header_bgcolor != null && settings.display.table_header_bgcolor != ''
  - theadClasses.push('thead-' + settings.display.table_header_bgcolor);
.card.card-default.border-0
  .card-body.border-top-0
    :markdown-it
      If you have trouble syncing your wallet, add these lines to your coin daemon .conf file and restart the wallet.
      
      *Typically you can access the config file through QT-wallet menu, Tools > Open Wallet Configuration File*
  table#addnodes-table.table.table-bordered.table-striped.table-paging.mobile-border-right
    thead(class=theadClasses)
      tr
        th AddNode Config Lines
    tbody.text-center
  .card-body.border-top-0
    :markdown-it
      Alternatively you can try one of these lines in the coin wallet debug window, or add them with *coindaemon*-cli
  table#addnodes2-table.table.table-bordered.table-striped.table-paging.mobile-border-right
    thead(class=theadClasses)
      tr
        th OneTry Node Lines
    tbody.text-center