extends layout

block content
  if settings.shared_pages.page_header.page_title_image.enable_animation == true && settings.error_page.page_header.show_img
    script.
      $(document).ready(function() {
        startRotateElement('img#header-img');
      });
  .col-xs-12.col-md-12
    if settings.error_page.page_header.show_img == true || settings.error_page.page_header.show_title == true || settings.error_page.page_header.show_description == true
      #page-header-container(style='align-items:' + (settings.error_page.page_header.show_img == true && settings.error_page.page_header.show_title == true && settings.error_page.page_header.show_description == true ? 'flex-start' : 'center'))
        if settings.error_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=(settings.shared_pages.page_header.page_title_image == null || settings.shared_pages.page_header.page_title_image.image_path == null || settings.shared_pages.page_header.page_title_image.image_path == '' ? '/img/page-title-img.png' : settings.shared_pages.page_header.page_title_image.image_path))
        #page-title-container
          if settings.error_page.page_header.show_title == true
            h3#page-title=settings.locale.error_title.replace('{1}', settings.coin.name)
          if settings.error_page.page_header.show_description == true
            if settings.error_page.page_header.show_title != true
              #page-title-container
                .sub-page-header.text-muted=(error.status == null ? settings.locale.error_description_alt : settings.locale.error_description)
            else
              .sub-page-header.text-muted=(error.status == null ? settings.locale.error_description_alt : settings.locale.error_description)
      .cardSpacer.clearfix
    h2=(error.status == null ? '' : error.status + ' ') + message