body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
	padding: 0.2rem 0.4rem;
}

.footer p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.footer .nav-link {
    padding: 0.1rem 0.1rem;
}

.footer label {
    margin-bottom: 0.1rem;
}

.footer .poweredby {
    margin-right: 0.2rem;
    font-size: 80%;
}

.footer .social-link {
    margin-right: 0.2rem;
    font-size: 100%;
}

.footer .social-link img{
	width: 40px;
	margin: 5px 5px;
}

.footer-logo {
	height: 40px;
	position: absolute;
	bottom: 0px;
}

#index-search {
	width: 80%;
}

.nav-search input {
	width: 400px !important;
	margin-right: 5px;	
}

.view_tx {
	text-align: center;
}

.block-last {
	margin: 0;
	margin-right: 10px;
}

.block-next {
	margin: 0;
	margin-left: 10px;
}
#chart3 .jqplot-xaxis {
	display: none;
}

.data {
	display: block;
	overflow: hidden;
	width: 100%;
}

.txid {
	width: 100%;
	display:block;
	overflow: hidden;
}

.panel-address-summary {
 margin-bottom: 5px;
}

p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.2rem;
	margin-top: 0.5rem;
}

/* datatable tweaks */
table {
	width: 100% !important;
}
.dataTables_info, .dataTables_length {
	padding-left: 10px;
}

.dataTables_info {
	display: hidden !important;
}

.dataTables_length {
	padding-top: 10px;
}

.dataTables_paginate {
	padding-right: 5px;
}

.pagination > .paginate_button > a, .pagination > .paginate_button.disabled > a {
	border: 1px solid black;
}

ul.pagination {
	justify-content: flex-start;
	display: inline-block;
}

ul.pagination > li {
    display: inline;
}

ul.pagination > li > a {
	float: left;
}

@media(max-width:576px){
	.dataTables_paginate {
	    font-size: 80%;
    }
	#marketChart {
		display: none;
	}
}

.tab-pane {
	margin-top: 5px;
}

table a:not(.btn),.table a:not(.btn){
	text-decoration:none
}

tr {
	width: 100%;
}

.footer-padding {
	height: 50px;
	width: 100%;
}

.summary-table {
	margin: 0px !important;
}

#loading-icon {
	width: 30px;
    margin: 10px 10px;
}

.menu-text {
	margin-left:5px;
}

.connections {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#lblConnections {
	margin-left: 10px;
}

#market_menu {
	margin-bottom: 5px;
}

#hashratepanel span,
#difficultypanel span,
#supplypanel span,
#masternodepanel span,
#pricepanel span{
	margin: 0 5px 0 5px;
	top: 0;
}

.label a:link {
	color: #ffffff;
}

.label a:visited {
	color: #ffffff;
}

.label a:hover {
	color: #ffffff;
}

.label a:active {
	color: #ffffff;
}

#body-container {
  padding: 0 40px;
}

@media(max-width:767px){
  #body-container {
    padding-left:0;
    padding-right:0;
  }
}

@media(max-width:1096px){
	.nav-search input {
	    width: 300px !important;
    }
}

@media(max-width:865px){
	.nav-search input {
	    width: 150px !important;
    }
}
.table>tbody>tr>td.addr-summary {
	line-height: 7.7;
	font-size: 1.3em;
	font-weight: 800;
	text-align: center;
}

.qrcode {
	/*position: absolute;
	top: 65px;
	right: 15px;*/
}

.logo-main {
	padding: 0 15px;
}

.decimal {
	font-size: 0.7em;
}

.cardSpacer {
	margin-bottom:10px;
}

.breakWord {
	word-break: break-word;
}